# 10 - 匹配

## 回归到底在做什么？

到目前为止，我们已经看到，当我们进行测试与控制比较时，回归在控制附加变量方面做得非常出色。如果我们有独立性，\\((Y_0, Y_1)\perp T | X\\)，那么回归可以通过控制 X 来识别 ATE。回归的方式有点神奇。为了对它有一些直观的了解，让我们记住所有变量 X 都是虚拟变量的情况。如果是这种情况，回归会将数据划分为虚拟单元格并计算测试和控制之间的平均差异。这种均值差异使 Xs 保持不变，因为我们是在 X dummy 的固定单元格中进行的。就好像我们在做 \\(E[Y|T=1] - E[Y|T=0] | X=x\\)，其中 \\(x\\) 是一个虚拟单元（所有虚拟单元例如设置为 1）。然后回归结合每个单元格中的估计以产生最终的 ATE。这样做的方法是将权重应用到与该组处理的方差成正比的单元格。

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from matplotlib import style
from matplotlib import pyplot as plt
import statsmodels.formula.api as smf

import graphviz as gr

%matplotlib inline

style.use("fivethirtyeight")

举个例子，假设我试图估计一种药物的效果，我有 6 个男人和 4 个女人。 我的反应变量是住院天数，我希望我的药物可以降低住院天数。 对男性而言，真正的因果效应是-3，因此该药物将住院时间缩短了3 天。 对于女性，它是-2。 更有趣的是，男性更容易受到这种疾病的影响，并且在医院停留的时间更长。 他们也得到了更多的药物。 6 名男性中只有 1 人没有得到药物。 另一方面，女性对这种疾病的抵抗力更强，所以她们在医院的时间更少。 50% 的女性得到了这种药物。

In [3]:
drug_example = pd.DataFrame(dict(
    sex= ["M","M","M","M","M","M", "W","W","W","W"],
    drug=[1,1,1,1,1,0,   1,0,1,0],
    days=[5,5,5,5,5,8,  2,4,2,4]
))

请注意，治疗和对照的简单比较会产生负面影响，即药物似乎不如实际有效。 这是意料之中的，因为我们已经省略了性别混淆因素。 在这种情况下，估计的 ATE 小于真实的 ATE，因为男性服用的药物更多，更容易受到疾病的影响。

In [4]:
drug_example.query("drug==1")["days"].mean() - drug_example.query("drug==0")["days"].mean()

-1.1904761904761898

由于男性的真实效果是 -3，女性的真实效果是 -2，ATE 应该是

$
ATE=\dfrac{(-3*6) + (-2*4)}{10}=-2.6
$

该估计是通过 1) 将数据划分为混杂单元格，在这种情况下为男性和女性，2) 估计对每个单元格的影响，以及 3) 将估计值与加权平均值相结合，其中权重是样本量单元格或协变量组。如果我们的数据中男性和女性的大小完全相同，则 ATE 估计值将正好在两组 ATE 的中间，即 -2.5。由于我们的数据集中男性多于女性，因此 ATE 估计值更接近于男性的 ATE。这称为非参数估计，因为它没有假设数据是如何生成的。

如果我们使用回归控制性别，我们将添加线性假设。回归还将数据划分为男性和女性，并估计对这两个组的影响。到现在为止还挺好。然而，当谈到组合对每组的影响时，它并没有按样本量来衡量它们。相反，回归使用与该组中治疗的方差成比例的权重。在我们的案例中，男性的治疗差异小于女性，因为对照组中只有一名男性。准确地说，男性的 T 方差为 \\(0.139=1/6*(1 - 1/6)\\)，女性的方差为 \\(0.25=2/4*(1 - 2/4) \\)。因此，在我们的示例中，回归将赋予女性更高的权重，并且 ATE 将更接近于 -2 的女性 ATE。

In [5]:
smf.ols('days ~ drug + C(sex)', data=drug_example).fit().summary().tables[1]

这个结果对于虚拟变量来说更直观，但是，以它自己奇怪的方式，回归在估计效果的同时也保持连续变量不变。同样对于连续变量，ATE 将指向协变量具有更多方差的方向。

所以我们已经看到回归有它的特质。它是线性的、参数化的、喜欢高方差特征……这可能是好是坏，具体取决于上下文。因此，重要的是要了解我们可以用来控制混杂因素的其他技术。它们不仅是您因果工具带中的一个额外工具，而且了解处理混淆的不同方法可以扩展我们对问题的理解。出于这个原因，我现在向您介绍 **Subclassification Estimator！**


## 子分类估计器

![img](./data/img/matching/explain.png)

如果我们想要估计一些因果效应，比如工作培训对收入的影响，**并且**干预不是随机分配的，我们需要注意混淆因素。可能只有更有动力的人才能参加培训，无论培训如何，他们都会获得更高的收入。我们需要估计培训计划在动机水平大致相同的小组以及我们可能存在的任何其他混淆因素中的效果。

更一般的情况下，如果我们想要估计一些因果效应，但由于某些变量 X 带来的混淆而很难做到时，我们需要做的是在 X 相同的小组内进行治疗与对照的比较。如果我们有条件独立 \\((Y_0, Y_1)\perp T | X\\)，那么我们可以将 ATE 写成如下。

$
ATE = \int(E[Y|X, T=1] - E[Y|X, T=0])dP(x)
$

这个积分的作用是遍历特征 X 分布的所有空间，计算所有这些微小空间的均值差异，并将所有内容组合到 ATE 中。另一种看待这一点的方法是考虑一组离散的特征。在这种情况下，我们可以说特征 X 对 K 个不同的细胞 \\(\{X_1, X_2, ..., X_k\}\\) 进行计算，我们正在做的是计算每个细胞中的治疗效果并结合他们进入ATE。在这种离散情况下，将积分转换为和，我们可以推导出子分类估计量


$
\hat{ATE} = \sum^K_{i=0}(\bar{Y}_{k1} - \bar{Y}_{k0}) * \dfrac{N_k}{N}
$

其中条形代表处理结果的平均值，\\(Y_{k1}\\)，和处理的，\\(Y_{k0}\\)，单元格 k 和 \\(N_{k}\\ ) 是同一单元格中的观察数。如您所见，我们正在计算每个单元格的本地 ATE，并使用加权平均值将它们组合起来，其中权重是单元格的样本大小。在我们上面的医学例子中，这将是第一个估计，它给了我们-2.6。

## 匹配估计器

![img](./data/img/matching/its-a-match.png)

子分类估计器在实践中用得不多（我们很快就会明白为什么，这是因为维度的诅咒），但它让我们很好地直观地了解了因果推理估计器应该做什么，它应该如何控制混杂因素。这使我们能够探索其他类型的估计器，例如匹配估计器。

这个想法非常相似。由于某种混淆因素 X 使得经过处理的和未经处理的单元最初无法比较，我可以通过**将每个经过处理的单元与类似的未经处理的单元匹配**来做到这一点。这就像我为每个干预单元找到一个未经干预的双胞胎。通过进行这样的比较，处理过的和未经处理的样本再次变得可比较。

举个例子，假设我们试图估计一个练习生训练计划对收入的影响。这是练习生的基本情况：

In [6]:
trainee = pd.read_csv("./data/trainees.csv")
trainee.query("trainees==1")

    unit  trainees  age  earnings
0      1         1   28     17700
1      2         1   34     10200
2      3         1   29     14400
3      4         1   25     20800
4      5         1   29      6100
5      6         1   23     28600
6      7         1   33     21900
7      8         1   27     28800
8      9         1   31     20300
9     10         1   26     28100
10    11         1   25      9400
11    12         1   27     14300
12    13         1   29     12500
13    14         1   24     19700
14    15         1   25     10100
15    16         1   43     10700
16    17         1   28     11500
17    18         1   27     10700
18    19         1   28     16300

下面是非练习生的基本情况：

In [7]:
trainee.query("trainees==0")

    unit  trainees  age  earnings
19    20         0   43     20900
20    21         0   50     31000
21    22         0   30     21000
22    23         0   27      9300
23    24         0   54     41100
24    25         0   48     29800
25    26         0   39     42000
26    27         0   28      8800
27    28         0   24     25500
28    29         0   33     15500
29    31         0   26       400
30    32         0   31     26600
31    33         0   26     16500
32    34         0   34     24200
33    35         0   25     23300
34    36         0   24      9700
35    37         0   29      6200
36    38         0   35     30200
37    39         0   32     17800
38    40         0   23      9500
39    41         0   32     25900

如果我对均值做一个简单比较，我们会发现那些练习生相比非练习生赚的更少。

In [8]:
trainee.query("trainees==1")["earnings"].mean() - trainee.query("trainees==0")["earnings"].mean()

-4297.49373433584

但是，如果我们看一下上面的表格，我们会注意到练习生比非练习生年轻得多，这表明年龄可能是一个混淆因素。让我们使用年龄匹配来尝试纠正这一点。我们将从接受干预的人那里取出1号单元，并将其与27号单元配对，因为两者都是28岁。单元2我们将它与单元34配对，单元3与单元37配对，单元4我们将它与单元35配对...当涉及到5号单元时，我们需要从未接受干预的人中找到29岁的人，但那是37号单元，它已经配对了。这其实不是问题，因为我们可以多次使用相同的单元。如果匹配的单位超过1个，我们可以在它们之间随机选择。

这是前 7 个单元在匹配后数据集中的样子：

In [9]:
# make dataset where no one has the same age
unique_on_age = (trainee
                 .query("trainees==0")
                 .drop_duplicates("age"))

matches = (trainee
           .query("trainees==1")
           .merge(unique_on_age, on="age", how="left", suffixes=("_t_1", "_t_0"))
           .assign(t1_minuts_t0 = lambda d: d["earnings_t_1"] - d["earnings_t_0"]))

matches.head(7)

,unit_t_1,trainees_t_1,age,earnings_t_1,unit_t_0,trainees_t_0,earnings_t_0,t1_minuts_t0
0,1,1,28,17700,27,0,8800,8900
1,2,1,34,10200,34,0,24200,-14000
2,3,1,29,14400,37,0,6200,8200
3,4,1,25,20800,35,0,23300,-2500
4,5,1,29,6100,37,0,6200,-100
5,6,1,23,28600,40,0,9500,19100
6,7,1,33,21900,29,0,15500,6400

请注意，最后一列的收益差额为已处理单位与其匹配的未处理单位之间的差异。如果我们取最后一列的平均值，我们得到ATET估计值，同时控制年龄。请注意，与之前我们使用简单均值差值的估计值相比，该估计值现在非常正。

In [10]:
matches["t1_minuts_t0"].mean()

2457.8947368421054

但这是一个非常人为的例子，只是为了引入匹配。实际上，我们通常有多个特征，并且单元间也是不能完全匹配。在这种情况下，我们必须定义一些接近度的测量值，以比较单位之间的接近程度。一个常见的指标是欧几里得范数 \\(||X_i - X_j||\\)。 但是，这种差异在特征的大小变化时并不是保持不变。这意味着，与收入等特征相比，在计算此范数时，类似年纪这种以十分之一为单位的特征的重要性要小得多。因此，在应用范数之前，我们需要缩放要素，使它们具有大致相同的比例。

定义了距离的测度指标后，我们现在可以将匹配定义为要匹配的样本的最近邻居。在数学方面，我们可以通过以下方式编写匹配估计器：


$
\hat{ATE} = \frac{1}{N} \sum^N_{i=0}(2T_i - 1)\big(Y_i - Y_{jm}(i)\big)
$

其中 \\(Y_{jm}(i)\\) 是来自与 \\(Y_i\\) 最相似的另一个处理组的样本。我们这样做\\(2T_i - 1\\)以匹配两种方式：用对照和对照处理。

为了测试这个估计器，让我们考虑一个医学示例。再一次，我们想找到药物在恢复前几天的效果。不幸的是，这种影响被严重程度，性别和年龄所混淆。我们有理由相信，病情更严重的患者接受药物治疗的机会更高。

In [11]:
med = pd.read_csv("./data/medicine_impact_recovery.csv")
med.head()

   sex        age  severity  medication  recovery
0    0  35.049134  0.887658           1        31
1    1  41.580323  0.899784           1        49
2    1  28.127491  0.486349           0        38
3    1  36.375033  0.323091           0        35
4    0  25.091717  0.209006           0        15

如果我们看一个简单的均值差，\\(E[Y|T=1]-E[Y|T=0]\\)，我们得到治疗平均需要比未治疗的治疗多16.9天才能恢复。这可能是由于混淆，因为我们不认为药物会对患者造成伤害。

In [12]:
med.query("medication==1")["recovery"].mean() - med.query("medication==0")["recovery"].mean()

16.895799546498726

为了纠正这个偏差，我们需要使用匹配来控制X。首先，我们一定要记得缩放我们的特征，否则，类似年龄这样的特征在我们计算两个样本点间距离的时候，会比严重性这种特征有更高的重要性。我们可以通过对特征进行归一化的方式来解决这个问题。

In [13]:
# scale features
X = ["severity", "age", "sex"]
y = "recovery"

med = med.assign(**{f: (med[f] - med[f].mean())/med[f].std() for f in X})
med.head()

        sex       age  severity  medication  recovery
0 -0.996980  0.280787  1.459800           1        31
1  1.002979  0.865375  1.502164           1        49
2  1.002979 -0.338749  0.057796           0        38
3  1.002979  0.399465 -0.512557           0        35
4 -0.996980 -0.610473 -0.911125           0        15

现在，到匹配本身。我们将使用来自 [Sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html) 的 K 最近邻算法，而不是编写匹配函数。此算法通过在估计或训练集中查找最近的数据点来进行预测。

为了匹配，我们需要其中的2个。一个是; `mt0` ，它将存储未处理的点数，并在被要求时在未处理的点中找到匹配项。另一个，`mt1`，将存储处理的点，并在被要求这样做时在处理的点中找到匹配项。在此拟合步骤之后，我们可以使用这些 KNN 模型进行预测，这将是我们的匹配。

In [14]:
from sklearn.neighbors import KNeighborsRegressor

treated = med.query("medication==1")
untreated = med.query("medication==0")

mt0 = KNeighborsRegressor(n_neighbors=1).fit(untreated[X], untreated[y])
mt1 = KNeighborsRegressor(n_neighbors=1).fit(treated[X], treated[y])

predicted = pd.concat([
    # find matches for the treated looking at the untreated knn model
    treated.assign(match=mt0.predict(treated[X])),
    
    # find matches for the untreated looking at the treated knn model
    untreated.assign(match=mt1.predict(untreated[X]))
])

predicted.head()

         sex       age  severity  medication  recovery  match
0  -0.996980  0.280787  1.459800           1        31   39.0
1   1.002979  0.865375  1.502164           1        49   52.0
7  -0.996980  1.495134  1.268540           1        38   46.0
10  1.002979 -0.106534  0.545911           1        34   45.0
16 -0.996980  0.043034  1.428732           1        30   39.0

匹配完成后，我们就可以应用匹配估计器的公式了：
$
\hat{ATE} = \frac{1}{N} \sum^N_{i=0} (2T_i - 1)\big(Y_i - Y_{jm}(i)\big)
$

In [15]:
np.mean((2*predicted["medication"] - 1)*(predicted["recovery"] - predicted["match"]))

-0.9954

使用这种匹配，我们可以看到药物的效果不再是积极的。这意味着，控制X，药物平均将恢复时间减少约1天。这已经是一个巨大的改进，在预测恢复时间增加16.9的偏倚估计之上。

但是，我们仍然可以做得更好。

## 匹配偏差


事实证明，我们上面设计的匹配估计器是有偏差的。为了看到这一点，让我们考虑ATE估计器，而不是ATE，只是因为它写起来更简单。直觉也适用于ATE。

$
hat{ATET} = frac{1}{N_1}sum （Y_i - Y_j（i））
$

其中 （N_1） 是接受治疗的个体数，（Y_j（i）） 是未经治疗的单位 i 的匹配。为了检查偏差，我们所做的是希望我们可以应用中心极限定理，以便该定理收敛到平均值为零的正态分布。

$
sqrt{N_1}（hat{ATET} - ATET）
$

但是，这并不总是发生。如果我们定义给定给定 X 的均值结果，（mu_0（x）=E[Y|X=x， T=0]），我们将拥有它（顺便说一句，我省略了证明，因为它有点超出这里的重点）。

$
E[sqrt{N_1}（hat{ATET} - ATET）] = E[sqrt{N_1}（mu_0（X_i） - mu_0（X_j（i）））]
$